/* 텍스트 숨기기 *부모설정 필요* */
.txt_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.inner {
  position: relative;
}

/* 버튼 스타일 */
.doctorGroup_btn {
  width: 200px;
  height: 50px;
  margin-top: 60px;
  border: 2px solid #c2b093;
  border-radius: 999px;
}
.doctorGroup_btn a {
  color: #c2b093;
  font-size: 0.9em;
  line-height: 45px;
  letter-spacing: 0.02em;
}
.doctorGroup_btn a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 11px;
  margin-left: 10px;
  background: url(../images/common/arrow_right.svg) no-repeat center / contain;
}
