// Breakpoints
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 830px;
$breakpoint-mobile: 480px;

/* ~ 1440px */
@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}
/* ~ 830px */
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}
/* ~ 385px */
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile + 1}) {
    @content;
  }
}