#main {
  #visual {
    width: 100%;
    height: 100vh;
    .inner {
      .vsl_slide {
        position: relative;
        ul.vsl_bg {
          width: 100%;
          height: 100vh;
          position: relative;
          overflow: hidden;
          li {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0;
            transform: scale(130%);
            transition: opacity 1s, transform 7s ease-out;
            &.on {
              opacity: 1;
              transform: scale(100%);
            }
            &:nth-child(1) {
              background-image: url(../images/index/main_top_slider01.jpg);
            }
            &:nth-child(2) {
              background-image: url(../images/index/main_top_slider02.jpg);
            }
            &:nth-child(3) {
              background-image: url(../images/index/main_top_slider03.jpg);
            }
          }
        }
        .slide_wrap {
          width: 86%;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10%;
          z-index: 5;
          ul.vsl_textBox {
            width: 100%;
            height: 240px;
            li {
              width: max-content;
              color: #fff;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              &.on {
                opacity: 1;
                span {
                  transform: translateY(0%);
                }
              }
              p {
                font-size: 1.25rem;
                word-break: keep-all;
                letter-spacing: 0.2rem;
                overflow: hidden;
                span {
                  display: inline-block;
                  position: relative;
                  transform: translateY(-100%);
                  transition: transform 1s;
                }
                b {
                  font-weight: 700;
                }
              }
              h3 {
                font-size: 11.3rem;
                font-family: Marcellus, Noto Sans KR, sans-serif;
                word-break: keep-all;
                overflow: hidden;
                span {
                  display: inline-block;
                  transform: translateY(-100%);
                  transition: transform 1.5s;
                  transition-delay: 0.5s;
                }
              }
            }
          }
          .vsl_nav {
            display: flex;
            align-items: center;
            // position: absolute;
            // left: 7%;
            // bottom: 10%;
            // z-index: 5;
            span {
              display: inline-block;
              width: 6px;
              height: 6px;
              margin: 0 12px;
              border-radius: 50%;
              background: #fff;
              position: relative;
              &.on {
                width: 15px;
                height: 15px;
                background: transparent;
                svg {
                  width: 100%;
                  height: 100%;
                  display: inline-block;
                  transform: rotate(-90deg);
                  .navGauge {
                    animation: navGauge 7s forwards linear;
                  }
                  @keyframes navGauge {
                    0% {
                      stroke-dashoffset: 80px;
                    }
                    100% {
                      stroke-dashoffset: 40px;
                    }
                  }
                }
              }
              svg {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  #con1 {
    padding: 200px 0;
    .inner {
      .con1_wrap {
        display: flex;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
        .con1List {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          &.con1_img {
            transform: translateY(60%);
            opacity: 0;
            &.con1_img2 {
              padding-top: 4%;
            }
            .imgBox {
              margin-bottom: 20px;
              transition: 0.5s;
            }
            .txtBox {
              margin-top: -10.5%;
              h4.title {
                display: inline-block;
                font-size: 50px;
                font-family: Marcellus, Noto Sans KR, sans-serif;
                line-height: 1.4;
                padding: 2% 0;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-image: linear-gradient(0deg, #333 50%, #fff 0);
              }
              p.txt {
                font-size: 16px;
                line-height: 1.6;
                padding: 2% 0;
              }
            }
          }
          &.con1_text {
            padding-top: 4%;
            text-align: center;
            .subTitle {
              font-size: 19px;
            }
            .title {
              font-size: 80px;
              font-family: Marcellus, Noto Sans KR, sans-serif;
              margin-top: 20px;
            }
            .txt {
              font-size: 16px;
              margin-top: 30px;
              line-height: 1.6;
            }
          }
        }
      }
    }
  }
  #con2 {
    .inner {
      .txtBox {
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        position: relative;
        p {
          font-size: 1.188rem;
        }
        h3 {
          font-size: 4rem;
          font-family: Marcellus, Noto Sans KR, sans-serif;
          line-height: 1.2;
        }
        .doctorGroup_btn {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-right: -50%;
        }
      }
      .conBox {
        color: #fff;
        margin-top: 40px;
        padding-top: 5%;

        position: relative;
        &.on {
          .videoArea {
            left: 50%;
            transform: translateX(-50%);
          }
          .imgBg {
            transform: translateX(0%);
          }
        }
        .videoArea {
          width: 100%;
          max-width: 960px;
          position: absolute;
          left: 0%;
          top: 0;
          transform: translateX(-100%);
          transition: 1.5s ease-in-out;
          z-index: 1;
          video {
            object-fit: cover;
          }
          p {
            font-size: 1.125rem;
            padding: 2%;
            line-height: 1.4;
          }
        }
        .imgBg {
          width: 100%;
          max-width: 1257px;
          height: 588px;
          background: url(../images/index/main_cont03_img01.jpg) no-repeat center / cover;
          transform: translateX(-100%);
          transition: 1.5s ease-in-out;
          transition-delay: 0.3s;
          p {
            padding-left: 50px;
            padding-top: 50px;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
  #con3 {
    padding:160px 0;
    .inner {
      .txtBox {
        width: fit-content;
        text-align: center;
        margin:0 auto;
        position: relative;
        p {
          font-size: 1.188rem;
        }
        h3 {
          font-size: 4rem;
          font-family: Marcellus, Noto Sans KR, sans-serif;
          margin-top: 20px;
        }
        button.doctorGroup_btn {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-right: -25%;
        }
      }
      .conList {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 4%;
        position: relative;
        &::after{
          content:"";
          display: block;
          width: 100%;
          height: 100%;
          background: url(../images/index/con3_bg.png) no-repeat 53% 40% / 24%;
          opacity: .6;
          position: absolute;
          left: 0;
          top:0;
        }
        ul {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          position: relative;
          z-index: 1;
          &::after {
            content: "";
            display: block;
            width: 90%;
            height: 2px;
            background: #e5e3df;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 80%;
          }
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            .img {
              width: 177px;
              height: 205px;
              border-top-left-radius: 100% 80%;
              border-top-right-radius: 100% 80%;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            h4 {
              font-size: 50px;
              font-family: Marcellus, Noto Sans KR, sans-serif;
              text-align: center;
              padding-top: 20px;
            }
            p {
              padding-top: 40px;
              padding-bottom: 20px;
              line-height: 1.6;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
